.location-detail-wrapper button, .location-review-form-wrapper button {
  background-color: #efefef;
  border: none;
  border-radius: 2px;
  color: #373737;
  font-size: 0.9em;
  height: 40px;
  margin: 10px 0;
  width: 90px; }

.sidebar:after {
  clear: both;
  content: "";
  display: table; }

.location-detail-wrapper .facilities, .location-detail-wrapper .map, .location-detail-wrapper .opening-hours, .location-detail-wrapper .review-container, .location-list-sidebar-wrapper .list-item {
  background-color: #e2e2e2;
  margin: 10px 0;
  padding: 5px 0 10px 0;
  position: relative; }

body {
  background-color: #efefef;
  box-sizing: border-box;
  font: 14px "Montserrat", sans-serif; }

a {
  color: #d66a00;
  text-decoration: none; }

h1 {
  color: #373737;
  font-family: "Poiret One", "Oxygen", sans-serif;
  font-size: 2em; }
  @media (min-width: 768px) {
    h1 {
      font-size: 3em; } }

h3 {
  color: #d66a00;
  margin: 5px 0 10px 0; }

p, span {
  color: #202930;
  margin: 0; }

footer {
  background-color: #373737;
  bottom: 0;
  color: #efefef;
  position: static; }
  @media (min-width: 768px) {
    footer {
      padding: 10px 5%; } }

.footer-container p {
  color: #efefef;
  padding: 5%; }

.generic-page-wrapper {
  background-color: #efefef;
  padding: 55px 10px; }
  @media (min-width: 768px) {
    .generic-page-wrapper {
      padding: 75px 10px 60px 10px; } }

.content {
  margin: 1em 0; }

@media (min-width: 768px) {
  .content, .subtitle, .title {
    padding: 0 5%; } }
@media (min-width: 1024px) {
  .content, .subtitle, .title {
    padding: 0 15%; } }

.location-wrapper {
  background-color: #efefef;
  padding: 55px 0; }
  @media (min-width: 768px) {
    .location-wrapper {
      padding: 75px 0 60px 0; } }
  @media (min-width: 768px) {
    .location-wrapper {
      padding: 0 0 60px 0; } }
  .location-wrapper .location-list-sidebar-wrapper {
    margin: 0 5%; }
  .location-wrapper header {
    padding-top: 75%;
    background-color: #373737;
    position: relative;
    text-align: center;
    width: 100%; }
    @media (min-width: 768px) {
      .location-wrapper header {
        padding-top: 56.25%; } }
    .location-wrapper header h1 {
      color: #efefef;
      font-size: 3em;
      margin: 0;
      position: absolute;
      top: 50%;
      width: 100%; }
    .location-wrapper header p {
      color: #efefef;
      position: absolute;
      top: 70%;
      width: 100%; }
      @media (min-width: 768px) {
        .location-wrapper header p {
          margin-left: 0; } }

nav {
  background-color: #efefef;
  box-shadow: 0 4px 10px -2px rgba(0, 0, 0, 0.5);
  padding: 5px 5px 5px 0;
  position: fixed;
  width: 100%;
  z-index: 10; }
  @media (min-width: 768px) {
    nav {
      padding: 10px 5%; } }

.nav-burger-container {
  position: absolute;
  top: 17px;
  right: 35px; }
  .nav-burger-container .nav-burger {
    display: inline-block;
    width: 20px; }
    @media (min-width: 768px) {
      .nav-burger-container .nav-burger {
        display: none; } }

.nav-header {
  font-family: "Poiret One", "Oxygen", sans-serif;
  font-size: 1.5em;
  margin: 10px;
  width: 50%; }
  @media (min-width: 768px) {
    .nav-header {
      float: left;
      font-size: 2em;
      margin: 0;
      width: 40%; } }
  .nav-header a {
    color: #373737; }

.nav-list {
  display: none;
  float: left; }
  @media (min-width: 768px) {
    .nav-list {
      display: inline-block;
      margin: 0;
      padding: 23px 0 0 0; } }
  .nav-list li {
    display: inline;
    float: left;
    font-size: 1em;
    padding: 0 20px;
    text-transform: uppercase; }
    .nav-list li p {
      color: #d66a00;
      margin: 0; }

.location-detail-wrapper {
  background-color: #efefef;
  padding: 55px 0; }
  @media (min-width: 768px) {
    .location-detail-wrapper {
      padding: 75px 0 60px 0; } }
  .location-detail-wrapper button {
    position: absolute;
    right: 20px;
    top: 0; }
  .location-detail-wrapper .container {
    margin: 10px auto;
    width: 90%; }
    @media (min-width: 768px) {
      .location-detail-wrapper .container {
        float: left;
        padding-left: 5%;
        width: 50%; } }
  .location-detail-wrapper .facilities h3, .location-detail-wrapper .map h3, .location-detail-wrapper .opening-hours h3, .location-detail-wrapper .review-container h3 {
    padding-left: 10px; }
  .location-detail-wrapper .facilities span {
    background-color: #efefef;
    border-radius: 15px;
    display: inline-block;
    font-weight: 600;
    margin-left: 5px;
    padding: 5px;
    color: #6a6a6a; }
  .location-detail-wrapper header {
    border-bottom: 1px solid #373737;
    display: flex; }
    .location-detail-wrapper header h1 {
      align-self: center;
      flex-grow: 3;
      margin: 18px 0;
      padding: 0 5%; }
    .location-detail-wrapper header h3 {
      align-self: center;
      flex-grow: 1; }
  .location-detail-wrapper .map {
    height: 50%; }
    .location-detail-wrapper .map iframe {
      display: block;
      height: 50vh;
      margin: 0 auto;
      width: 90%; }
  .location-detail-wrapper .opening-hours p, .location-detail-wrapper .review p, .location-detail-wrapper .review-info {
    padding: 5px 10px; }
  .location-detail-wrapper .review {
    padding: 10px 0; }
    .location-detail-wrapper .review:nth-child(even) {
      background-color: #e2e2e2; }
      .location-detail-wrapper .review:nth-child(even) p {
        color: #373737; }
    .location-detail-wrapper .review:nth-child(odd) {
      background-color: #efefef; }
  .location-detail-wrapper .review-container {
    margin: 10px auto 20px auto;
    padding-bottom: 0;
    width: 90%; }
    @media (min-width: 768px) {
      .location-detail-wrapper .review-container {
        float: left;
        margin-left: 5%;
        width: 90%; } }
    .location-detail-wrapper .review-container .review-info span {
      display: inline-block;
      font-size: 0.8em;
      padding-right: 15px; }
      .location-detail-wrapper .review-container .review-info span:first-of-type {
        font-size: 1em;
        font-weight: 600; }
  .location-detail-wrapper .header {
    height: 40px; }

.location-review-form-wrapper {
  background-color: #efefef;
  padding: 55px 0; }
  @media (min-width: 768px) {
    .location-review-form-wrapper {
      padding: 75px 0 60px 0; } }
  .location-review-form-wrapper button {
    background-color: white;
    display: block;
    margin: 0 0 0 auto; }
    @media (min-width: 768px) {
      .location-review-form-wrapper button {
        margin-top: 20px;
        width: 20%; } }
  .location-review-form-wrapper header {
    border-bottom: 1px solid #373737;
    margin-bottom: 10px; }
    .location-review-form-wrapper header h1 {
      margin: 18px 0;
      padding: 0 5%; }
  .location-review-form-wrapper fieldset {
    border: none;
    padding: 15px; }
  .location-review-form-wrapper .form-wrapper {
    margin: 0 auto;
    max-width: 1000px;
    width: 90%; }
  .location-review-form-wrapper input, .location-review-form-wrapper select, .location-review-form-wrapper textarea {
    background-color: white;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    display: block;
    margin-top: 3px;
    margin-bottom: 20px;
    padding: 12px 10px;
    max-width: 100%;
    width: 100%; }
    @media (min-width: 768px) {
      .location-review-form-wrapper input, .location-review-form-wrapper select, .location-review-form-wrapper textarea {
        margin: 0 0 0 auto;
        width: 85%; } }
  .location-review-form-wrapper label {
    color: #d66a00; }
    @media (min-width: 768px) {
      .location-review-form-wrapper label {
        display: inline-block;
        position: relative;
        top: 29px;
        width: 10%; } }
  .location-review-form-wrapper select {
    height: 40px;
    padding: 0 10px; }

.location-list-sidebar-wrapper .list-wrapper {
  margin: 15px 0;
  width: 100%; }
  @media (min-width: 768px) {
    .location-list-sidebar-wrapper .list-wrapper {
      float: left;
      width: 60%; } }
.location-list-sidebar-wrapper .list-item h3 {
  font-family: "Poiret One", "Oxygen", sans-serif;
  font-size: 1.5em;
  margin: 10px 0;
  padding-left: 10px; }
.location-list-sidebar-wrapper .list-item p {
  padding-bottom: 5px; }
.location-list-sidebar-wrapper .list-item span {
  background-color: #efefef;
  border-radius: 15px;
  display: inline-block;
  font-weight: 600;
  margin-left: 5px;
  padding: 5px;
  color: #6a6a6a; }
  .location-list-sidebar-wrapper .list-item span:first-of-type {
    margin-left: 10px; }
.location-list-sidebar-wrapper .address, .location-list-sidebar-wrapper .facilities {
  padding-left: 10px; }
.location-list-sidebar-wrapper .stop {
  background-color: #373737;
  border-radius: 15px;
  display: inline-block;
  font-weight: 600;
  margin-left: 5px;
  padding: 5px;
  color: #efefef;
  position: absolute;
  right: 10px;
  top: 19px; }

.sidebar {
  font-size: 1.5em;
  padding: 0 5%; }
  @media (min-width: 768px) {
    .sidebar {
      margin: 0 0 0 auto;
      padding-top: 20px;
      width: 35%; } }

/*# sourceMappingURL=application.css.map */
