body {
  background-color: $background-primary;
  box-sizing: border-box;
  font: 14px $font-family-text-secondary;
}

a {
  color: $font-color-bright;
  text-decoration: none;
}

h1 {
  color: $font-color-primary;
  font: {
    family: $font-family-header;
    size: $font-size-xlarge;
  }

  @media (min-width: $breakpoint-medium) {
    font-size: $font-size-xxlarge;
  }
}

p, span {
  color: $font-color-secondary;
  margin: 0;
}