body {
  background-color: $background-primary;
  padding: 40px 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  @media (min-width: $breakpoint-medium) {
    padding: 0 10%;
  }
}

h1 {
  color: $font-color-secondary;
  font: {
    family: $font-family-header;
    size: $font-size-large;
  }

  @media (min-width: $breakpoint-medium) {
    font-size: $font-size-xlarge;
  }
}

p {
  color: $font-color-primary;
  font: {
    family: $font-family-text-primary;
    weight: $font-weight-light;
  }
}