body {
  background-color: $background-primary;
  box-sizing: border-box;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: $font-color-primary;
  text-decoration: none;
}

h1 {
  color: $font-color-secondary;
  font: {
    family: $font-family-header;
    size: $font-size-xlarge;
  }

  @media (min-width: $breakpoint-medium) {
    font-size: $font-size-xxlarge;
  }
}

p {
  color: $font-color-primary;
  font: {
    family: $font-family-text-primary;
    weight: $font-weight-light;
  }
  margin: 0;
}