@mixin border-background($color, $radius: 3px) {
  background-color: $color;
  border-radius: $radius;
  padding: 5px;
}

%clearfix {
  &:after {
    clear: both;
    content: "";
    display: table;
  }
}

@mixin page-wrapper($paddingSides) {
  background-color: $background-primary;
  padding: 40px $paddingSides;

  @media (min-width: $breakpoint-medium) {
    padding: 75px 5% 60px 5%;
  }

  h1 {
    margin-top: 30px;

    @media (min-width: $breakpoint-medium) {
      margin: 0;
    }
  }
}