<div class="location-detail-wrapper">
    <header>
        <h1>{{title}}</h1>
        <h3>5/5</h3>
    </header>

    <div class="container">
        <div class="wrapper">
            <div class="rating-address">
                <p>123 Fake Street, BR22SD</p>
            </div>
            <div class="opening-hours">
                <h3 class="header">Opening Hours</h3>
                <p>Mon - Fri: 7am - 7pm</p>
                <p>Sat: 9am - 10pm</p>
                <p>Sun: Closed</p>
            </div>
            <div class="facilities">
                <h3 class="header">Facilities</h3>
                <span>Dildos</span><span>Fisting</span>
            </div>
            <div class="map">
                <h3 class="header">Location Map</h3>
                <iframe frameborder="0" src="https://www.google.co.uk/maps/embed/v1/place?key=AIzaSyBE9cgGx0m_7Us1rJSjyLUmzEk8TZWnKqY&q=The+Orchard"></iframe>
            </div>
        </div>
    </div>

    <div class="review-container">
        <h3 class="header">Customer Reviews</h3>
        <button>Add Review</button>
        <div class="review">
            <div class="review-info">
                <span>5/5</span> <span>Review Name</span> <span>Date</span>
            </div>
            <p class="comment">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
        </div>
        <div class="review">
            <div class="review-info">
                <span>5/5</span> <span>Review Name</span> <span>Date</span>
            </div>
            <p class="comment">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
        </div>
        <div class="review">
            <div class="review-info">
                <span>5/5</span> <span>Review Name</span> <span>Date</span>
            </div>
            <p class="comment">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
        </div>
    </div>

    <div class="sidebar">
        <p class="content">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
            deserunt mollit anim id est laborum."</p>
    </div>
</div>