.location-list-wrapper {
  background-color: $color-dusty;
  margin: 15px 0;
  width: 100%;
}

.location-list-item {
  border-bottom: 1px solid $color-charcoal;
  padding-bottom: 25px;

  &:first-child {
    border-top: 1px solid $color-charcoal;
  }

  h3 {
    color: $color-paper;
    font: {
      family: $font-family-header;
      size: $font-size-large;
    }
    margin: 10px 0;
    padding-left: 10px;
  }

  p {
    padding-left: 10px;
  }
}